doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title= title
    link(rel="stylesheet" type="text/css" href="/stylesheets/index.css")
    link(rel="icon" href="/assets/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon")

  body
    #root
    script(src="/javascripts/index.js")